@using RecipeBox.Models
@model RecipeBox.Models.Recipe

<h4>Add new recipe</h4>

@using(Html.BeginForm())
{
  @Html.Label("Recipe Name:")
  @Html.TextBoxFor(model => model.Name, new { required = "required"})

  @if(ViewBag.Tags.Count > 0)
  {
    @Html.Label("Select Tag:")
    @Html.DropDownList("TagId")
  }

  @Html.Label("Ingredients to include (separate each with - or , ):")
  @Html.TextAreaFor(model => model.Ingredients, new { required = "required"})

  @Html.Label("Instructions (separate each with - or , ):")
  @Html.TextAreaFor(model => model.Instructions, new { required = "required"})


  <input type="submit" value="Add new recipe" class="btn btn-default" />

}

<p>@Html.ActionLink("Show recipes", "Index")